<html>
<body>
<div style="position: fixed; left: 0; right: 0; top: 0; height: 50px; background-color: green;">TITLE BAR</div>
<div style="position: fixed; left: 0; top: 50px; bottom: 0; width: 223px; background-color: red;">SIDE BAR</div>
<div style="position: fixed; left: 223px; right: 0; top: 50px; bottom: 0; background-color: blue; overflow: auto;">
  <div style="width: 742px; margin: 0 auto; background-color: gold; padding-bottom: 100px;">

  </div>
</div>
<div style="position: fixed; left: 223px; right: 0; bottom: 0; height: 50px; background-color: cyan;">
  <div style=" display: flex; justify-content: center; background-color: pink;">
    <div style="background-color: white; padding: 20px;">BACK</div>
    <div style="width: 870px; background-color: orange;"></div>
    <div style="background-color: white; padding: 20px;">NEXT</div>
  </div>
</div>
</body>
</html>
