---
layout: base
---
<div style="position: fixed; left: 0; right: 0; top: 0; height: 50px; background-color: #3f3f3f;">TITLE BAR</div>
<div style="position: fixed; left: 0; top: 50px; bottom: 0; width: 223px;">
  <ol>
  {% for item in site.steps %}
    {% if item.url == page.url %}
      <li>{{ item.title }}</li>
    {% else %}
      <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ol>
</div>
<div style="position: fixed; left: 223px; right: 0; top: 50px; bottom: 0; overflow: auto;">
  <div style="width: 742px; margin: 0 auto; padding-bottom: 100px;">
    {{ content }}
  </div>
</div>
<div style="position: fixed; left: 223px; right: 0; bottom: 0;">
  <div style=" display: flex; justify-content: center;">
    <div style="background-color: #50a7a4; padding: 20px;">Back</div>
    <div style="width: 870px; background-color: orange;"></div>
    <div style="background-color: #50a7a4; padding: 20px;">Next</div>
  </div>
</div>
